<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Editar Perfil</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-amber.min.css" />
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{files_dir}}assets/css/cadastroAtividade.css">
        <link rel="stylesheet" type="text/css" href="{{files_dir}}assets/css/checkboxesAndRadioButtons.css">
        <!-- <link rel="stylesheet" type="text/css" href="../../../web/assets/css/administrativo.css">
        <link rel="stylesheet" type="text/css" href="../../../web/assets/css/checkboxesAndRadioButtons.css"> -->

    </head>
    <body>

        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                  <a href="{{web_dir}}home" id="backHome"> <i class="material-icons">arrow_back</i></a>
                    <span class="mdl-layout-title">Amigos da Rua</span>
                </div>
            </header>

            <main class="mdl-layout__content colunaCentro">
                <div class="page-content">
                    <div class="mdl-grid" >
                        <div class="mdl-cell mdl-cell--8-col">
                            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                                <div class="mdl-card__supporting-text">
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">Editar perfil</h2>
                                    </div>
                                    <form action="#">
                                      <div id="locais">
                                          <div class="divLocais">
                                              <i class="material-icons">person</i>
                                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                  <input class="mdl-textfield__input" type="text" id="NomeResponsavel" required value="{%if dadosPerfil.nmusuario is not empty %}{{dadosPerfil.nmusuario}}{%endif%}">
                                                  <label class="mdl-textfield__label" for="NomeResponsavel">Nome do Responsável</label>
                                              </div>
                                          </div>
                                      </div>
                                      <div id="locais">
                                          <div class="divLocais">
                                              <i class="material-icons">phone</i>
                                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="tel" id="TelResponsavel" required value="{%if dadosPerfil.telefoneresponsavel is not empty %}{{dadosPerfil.telefoneresponsavel}}{%endif%}">
                                                <label class="mdl-textfield__label" for="TelResponsavel">Telefone do Responsável</label>
                                              </div>
                                          </div>
                                      </div>
                                      <div id="locais">
                                          <div class="divLocais">
                                              <i class="material-icons">date_range</i>
                                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="date" id="Nascimento" required  value="{%if dadosPerfil.dtnascimento is not empty %}{{dadosPerfil.dtnascimento}}{%endif%}">
                                                <span><br>Data de nascimento</span>
                                              </div>
                                          </div>
                                      </div>
                                      <div id="locais">
                                          <div class="divLocais">
                                              <i class="material-icons">group_add</i>
                                              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                <input class="mdl-textfield__input" type="number" id="Integrantes" style="border-color:rgb(96,125,139)"  value="{%if dadosPerfil.numerointegrantes is not empty %}{{dadosPerfil.numerointegrantes}}{%endif%}">
                                                <label class="mdl-textfield__label" for="Integrantes" style="color:rgb(96,125,139)">Número de Integrantes</label>
                                              </div>
                                          </div>
                                      </div>

                                        <div id="locais">
                                            <div class="divLocais">
                                                <i class="material-icons">group</i>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                  <input class="mdl-textfield__input" type="text" id="NomeGrupo" required value="{%if dadosPerfil.nomegrupo is not empty %}{{dadosPerfil.nomegrupo}}{%endif%}">
                                                  <label class="mdl-textfield__label" for="NomeGrupo">Nome do Grupo</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="mudarSenha" style="display:none;">
                                          <div id="locais">
                                              <div class="divLocais">
                                                  <i class="material-icons">lock</i>
                                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="password" id="senha" required>
                                                    <label class="mdl-textfield__label" for="senha">Insira sua senha</label>
                                                  </div>
                                              </div>
                                          </div>
                                          <div id="locais">
                                              <div class="divLocais">
                                                  <i class="material-icons">lock_open</i>
                                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="password" id="novaSenha" required>
                                                    <label class="mdl-textfield__label" for="novaSenha">Nova Senha</label>
                                                  </div>
                                              </div>
                                          </div>
                                          <div id="locais">
                                              <div class="divLocais">
                                                  <i class="material-icons">lock_outline</i>
                                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                    <input class="mdl-textfield__input" type="password" id="confirmarSenha" required>
                                                    <label class="mdl-textfield__label" for="confirmarSenha">Confirmar Senha</label>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onClick="salvarEdicaoPerfil('{{web_dir}}');">
                                        Salvar
                                    </a>
                                </div>
                            </div>

                            <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="margin-top: 20px;">
                                <div class="mdl-card__supporting-text">
                                    <div class="mdl-card__title">
                                        <h2 class="mdl-card__title-text">Alterar senha</h2>
                                    </div>
                                    <form action="#">
                                        <div id="locais">
                                            <div class="divLocais">
                                                <i class="material-icons">lock</i>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                  <input class="mdl-textfield__input" type="password" id="senha" required>
                                                  <label class="mdl-textfield__label" for="senha">Insira sua senha</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="locais">
                                            <div class="divLocais">
                                                <i class="material-icons">lock_open</i>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                  <input class="mdl-textfield__input" type="password" id="novaSenha" required>
                                                  <label class="mdl-textfield__label" for="novaSenha">Nova Senha</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="locais">
                                            <div class="divLocais">
                                                <i class="material-icons">lock_outline</i>
                                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                                  <input class="mdl-textfield__input" type="password" id="confirmarSenha" required>
                                                  <label class="mdl-textfield__label" for="confirmarSenha">Confirmar Senha</label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" onClick="salvarEdicaoPerfil('{{web_dir}}');">
                                        Salvar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
<script>
  function alterarSenha(){

    $('#mudarSenha').toggle();
  }
</script>

  <script src="{{files_dir}}assets/js/Perfil.js"></script>
