<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Home</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-amber.min.css" />
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{files_dir}}assets/css/home.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    </head>
    <body>
        {%include 'menuBottom.html.twig'%}
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Amigos da Rua</span>
                </div>
            </header>

            <main class="mdl-layout__content colunaCentro">
                <div class="page-content">
                    <div class="mdl-grid" >
                        <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">

                            <div class="cards">
                                {%if  acoes is empty%}
                                    <h3> Não há ações para exibir</h3>
                                {%endif%}
                                {%for acaoArray in acoes%}
                                    <div class=" card [ is-collapsed ] ">
                                        <div class="mdl-card mdl-shadow--2dp">
                                            <div class="mdl-card__supporting-text">
                                                <div class="card__inner [ js-expander ]">
                                                    <div><span>{{acaoArray.acao.nomeGrupo}}</span></div>
                                                    <br>
                                                    <div class="divDtHr"><i class="material-icons">date_range</i><span>{{acaoArray.acao.data}}</span></div>
                                                    <div class="divDtHr"><i class="material-icons">schedule</i><span>{{acaoArray.acao.hora}}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card__expander">
                                            <div class="newCard">
                                                <div class="card-info">
                                                    <div class="name">
                                                        <p>{{acaoArray.acao.nomeGrupo}}</p>  <!-- Nome da ação -->
                                                    </div>
                                                    <hr>
                                                    <div class="content">
                                                        <p><b>Grupo:</b><br>{{acaoArray.acao.nomeGrupo}}</p>

                                                        <p><b>Local:</b>{% if acaoArray.endereco is defined %}
                                                            {%for enderecoArray in acaoArray.endereco%}
                                                                <br>{{enderecoArray.endereco}}
                                                            {%endfor%}
                                                        {%else%}
                                                            <br>Local não definido
                                                            {%endif%}</p>

                                                            <p><b>Hora:</b><br>{{acaoArray.acao.hora}}</p>

                                                            <p><b>Doações:</b> {%if acaoArray.categoriasChecked is defined%}
                                                                {%for categorias in acaoArray.categoriasChecked%}<br>{{categorias}} {%endfor%}
                                                                {%else%}
                                                                    <br>Doações não definidas
                                                                    {%endif%}</p>

                                                                    {%if acaoArray.acao.descricao is not empty%}
                                                                        <p><b>Detalhes:</b><br>{{acaoArray.acao.descricao}}  </p>


                                                                    {%endif%}

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <i class="material-icons [ js-collapser ]">close</i>
                                                    </div>
                                                </div>
                                                {%endfor%}

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </main>
                        </body>
                    </html>

                    <script>
                        var $cell = $('.card');

                        //open and close card when clicked on card
                        $cell.find('.js-expander').click(function () {

                            var $thisCell = $(this).closest('.card');

                            if ($thisCell.hasClass('is-collapsed')) {
                                $cell.not($thisCell).removeClass('is-expanded').addClass('is-collapsed').addClass('is-inactive');
                                $thisCell.removeClass('is-collapsed').addClass('is-expanded');

                                if ($cell.not($thisCell).hasClass('is-inactive')) {
                                    //do nothing
                                } else {
                                    $cell.not($thisCell).addClass('is-inactive');
                                }

                            } else {
                                $thisCell.removeClass('is-expanded').addClass('is-collapsed');
                                $cell.not($thisCell).removeClass('is-inactive');
                            }
                        });

                        //close card when click on cross
                        $cell.find('.js-collapser').click(function () {

                            var $thisCell = $(this).closest('.card');

                            $thisCell.removeClass('is-expanded').addClass('is-collapsed');
                            $cell.not($thisCell).removeClass('is-inactive');

                        });
                    </script>
