<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Login</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue_grey-blue.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <link rel="stylesheet" type = "text/css" href="../../../web/assets/css/login.css">
      <link rel="stylesheet" type = "text/css" href="../assets/css/login.css">
    </head>
    <body>
      <div class="coluna">
          <div class="divLogo">
            <img src="../assets/img/Design.png">
          </div>
          <div id="login">
            {{ form_start(form) }}
              <div class="divEmail">
                <i class="material-icons" >email</i>
                <div class="mdl-textfield mdl-js-textfield">
                  {{form_row(form.emailusuario, { 'attr' : { 'placeholder' : 'E-mail', 'class' : 'mdl-textfield__input', 'id' : 'email'  }})}}
                  <label class="mdl-textfield__label" for="email">E-mail</label>
                </div>
              </div>
              <div class="divSenha">
                  <i class="material-icons">lock</i>
                  <div class="mdl-textfield mdl-js-textfield">
                    {{form_row(form.senhausuario, { 'attr' : { 'placeholder' : 'senha', 'class' : 'mdl-textfield__input', 'id' : 'senha'  }})}}
                    <label class="mdl-textfield__label" for="senha">Senha</label>
                  </div>
              </div>
              <br><a href="#" class="esqueciSenha" onclick="switchMenuSenha()">Esqueceu a senha?</a><br>
              <br><a href="#" class="esqueciSenha" onclick="switchMenuPrimeiro()">Primeiro acesso</a><br>
              <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="submitButton" value="Entrar">
          {{ form_end(form) }}
        </div>

        <div id="recuperarSenha">
          <i class="material-icons"  onclick="switchMenu()" style="cursor:pointer">arrow_back</i><br>
          <div class="textoRecuperarSenha">Digite seu e-mail e enviaremos uma nova senha para acesso.</div>
          <div class="divEmail">
            <form action="#">
              <i class="material-icons">email</i>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="email" id="email">
                <label class="mdl-textfield__label" for="email">E-mail</label>
              </div>
            </form>
          </div>
          <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="submitButton" value="Enviar">
        </div>

          <div id="primeiroAcesso">
            <i class="material-icons"  onclick="switchMenuPrimeiro()" style="cursor:pointer">arrow_back</i><br>
            {{ form_start(form) }}
              <div class="divEmail">
                <i class="material-icons" >email</i>
                <div class="mdl-textfield mdl-js-textfield">
                  {{form_row(form.emailusuario, { 'attr' : { 'placeholder' : 'E-mail', 'class' : 'mdl-textfield__input', 'id' : 'email'  }})}}
                  <label class="mdl-textfield__label" for="email">E-mail</label>
                </div>
              </div>
              <div class="divCodigo">
                <i class="material-icons">lock</i>
                <div class="mdl-textfield mdl-js-textfield">
                  {{form_row(form.senhausuario, { 'attr' : { 'placeholder' : 'senha', 'class' : 'mdl-textfield__input', 'id' : 'senha'  }})}}
                  <label class="mdl-textfield__label" for="senha">Senha</label>
                </div>
              </div>
              <input type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="submitButton" value="Entrar">
          {{ form_end(form) }}
        </div>
      </div>
    </body>
</html>
<script>
  function switchMenuSenha(){
    var login = document.getElementById('login');
    var rSenha = document.getElementById('recuperarSenha');
    if($(login).is(":visible")){
      login.style.visibility="hiden";
      login.style.display="none";
      rSenha.style.visibility="visible";
      rSenha.style.display="block";
    }else {
      rSenha.style.visibility="hiden";
      rSenha.style.display="none";
      login.style.visibility="visible";
      login.style.display="block";
    }
  }
  function switchMenuPrimeiro(){
    var login = document.getElementById('login');
    var pAcesso = document.getElementById('primeiroAcesso');
    if($(login).is(":visible")){
      login.style.visibility="hiden";
      login.style.display="none";
      pAcesso.style.visibility="visible";
      pAcesso.style.display="block";
    }else {
      pAcesso.style.visibility="hiden";
      pAcesso.style.display="none";
      login.style.visibility="visible";
      login.style.display="block";
    }
  }
</script>
